:root {
	/* Purple */
	--purple-100: hsl(254, 88%, 90%);
	--purple-500: hsl(256, 67%, 59%);

	/* Yellow */
	--yellow-100: hsl(31, 66%, 93%);
	--yellow-500: hsl(39, 100%, 71%);

	/* White and Black */
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 7%);
}

@theme {
	--color-purple-100: var(--purple-100);
	--color-purple-500: var(--purple-500);

	/* Yellow */
	--color-yellow-100: var(--yellow-100);
	--color-yellow-500: var(--yellow-500);

	/* White and Black */
	--color-white: var(--white);
	--color-black: var(--black);
}